{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.image) }}

    <button type="submit">Ajouter!</button>
{{ form_end(form) }}
{% endblock %}